header{
  text-align:center;
  margin       : auto;
  width        : 600px;
}
.wrapper{
  text-align:center;
  margin       : auto;
  width        : 600px;
}
p.left{
  text-align: left;
  font-size: 19px;
}
p{
  font-size: 17px;
  line-height:2;
}
p.small{
  font-size: 14px;
  color:#a5a5a5;
}
a.small{
  font-size: 14px;
  color:#7070ff;
}
a.small:hover {
  color:#a940ff;
}

a.home{
 width:100px; // サイズがサンプルなので適時変更してください。
 margin:0 auto; //サンプルで中央に寄せたいので書かせていただいております。
}
a.home img:hover{
  transform:scale(1.1,1.1);
}

a.button {
    font-size: 21px;
    background: #eee;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
}
a.button:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
a.button:hover {
  background: #6bb6ff;
  color: #FFF;
}
a.button:hover:after {
  right: 1.4rem;
}
br {
display: block;
content: "";
margin: 11px 0;
}
@font-face{
  font-family:"azuki";
  src:url('azuki.woff')format('woff');
}

body {
    font-family: "azuki";
    line-height: 1.4;
}
.fb-like{
  padding: 20px 0;
  display: inline-block;
}
h1{
  border-bottom: double 6px green;
  font-size: 32px;
}
footer{
  text-align: center;
  justify-content: center;
  padding: 5px;
  background-color: #eee;
  color: #000;
}


a.blog {
    font-size: 19px;
    background: #eee;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 6px 30px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
}
a.blog:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
a.blog:hover {
  background: #6bb6ff;
  color: #FFF;
}
a.blog:hover:after {
  right: 1.4rem;
}
